@model IEnumerable<Diary.Web.Models.Entry>

<br />
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">My Childern</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="AddEntry" class="btn btn-outline-primary">Add new entry</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Tags
                </th>
                <th>
                    Date Of Creation
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                @foreach (var tag in item.Tags)
                                    @tag 
                            </td>
                            <td>
                                @item.DateOfCreation.ToString()
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>